* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://wallpapercave.com/wp/wp7452264.png);
    background-size: cover;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-position-y: 6rem;
}

.container {
    /* border: 2px solid grey; */
    padding: 30px;
    background: whitesmoke;
    height: 353px;
}

.input-box {
    border-bottom: 2px solid purple;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
}

#text {
    padding: 18px;
    width: 350px;
    height: 11px;
    font-size: 16px;
    border: none;
    border: 2px solid grey;
    outline: none;
    padding-left: 40px;
}

h3 {
    padding-right: 10px;
}

.fa-bars {
    margin-left: 12px;
    position: absolute;
}

.check-box {
    height: 26px;
    margin-right: 15px;
    margin-top: 4px;
}

.item {
    align-items: center;
    display: flex;
    margin-top: 10px;
    /* overflow: hidden; */
    /* border: 2px solid rgb(204, 51, 51); */
    padding: 4px;
    font-size: 20px;
    position: relative;
}

.to-dos {
    height: 290px;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 419px;
}


.done {
    text-decoration: line-through;
}

.to-dos::-webkit-scrollbar {
    width: 4px;
}

.options {
    position: absolute;
    right: 15px;
    top: 16px;
    font-size: 16px;
    cursor: pointer;
}

.check-box {
    cursor: pointer;
}